<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<form th:action="@{/books/processForm}" th:object="${book}" method="post">
    Пожалуйста, введите данные товара:<br>
    <label>ID:</label><input th:field="*{id}" type="number" name="id" value="" placeholder="id книги" required><br>
    <label>Title:</label><input th:field="*{title}" type="text" name="title" value="" placeholder="title книги"><br>
    <label>Info:</label><input th:field="*{info}" type="text" name="info" value="" placeholder="info книги"><br>
<!--    <label>Date:</label><input th:field="*{date}" type="datetime-local" name="date" value="" placeholder="date книги"><br>-->
    <input type="submit" value="Отправить">
</form>
</body>
</html>